<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title || 'Default title' }}</title>
    <meta name="description" content="{{ description || '' }}">

    @vite(['resources/js/app.js', 'resources/css/app.css'])
  </head>

  <body hx-ext="preload">
    <div id="whole-page" class="bounce">
      @!navigation()
      <div id="content-wrapper">
        {{{ await $slots.main() }}}
      </div>
    </div>
  </body>

</html>